*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(130, 69, 187);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.time{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

h2{
    font-weight: normal;
    font-size: 70px;
}

small{
    font-size: 30px;
}
